.cropViewer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow: auto;
}

.cropImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}


